
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 27%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-right: 1px solid #ddd;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none !important;
}

.active {
    border-right: 3px solid #23527c;
    color: black;
}

#title{
    color: black;
}

.active:hover {
    color: black;
}

li a:hover:not(.active):not(#title) {
    background-color: #555;
    color: white;
}

li a:not(#title) {
    font-size: larger;
}

#links,
#face {
    margin-top: 100px;
    margin-bottom: 10px;
}

#content {
    margin-left: 27%;
    text-align: center;
    padding: 30px 16px;
    background-color: rgba(245, 245, 245, 1);
}

.blog-post {
    margin:  auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;    
    height: auto;
    min-height: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    
}

.blog-post h4 {
    margin-top: 50px;
    line-height: 50px;
    text-align: justify;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.blog-post img {
    margin-top: 50px;
    max-width: 65%;
    max-height: 65%;
    border-radius: 1px;
}
.blog-post img:not(#face) {
border: 1px solid #e7e7e7;
}