ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: hidden;
    box-shadow:inset 0px 0px 20px 0px rgba(0,0,0,0.1);
    text-align: center;
    border: 1px solid #e7e7e7;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none !important;
    
    
}

.active {
    border-right: 3px solid #23527c;
}

.active:hover, #title:hover {
    color: black;
}

li a:hover:not(.active):not(#title) {
    background-color: #555;
    color: white;
}

li a:not(#title) {
    font-size: larger; 
}

#links, #face {
    margin-top: 100px;
}

#container {
    margin-left:20%;
    padding:1px 16px;
    height:1000px;
    text-align: center;
}