<!DOCTYPE html>
<html>

<head>
    <title>Yash Patel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="favicon" type="image/png" href="/css/icon.png" />
</head>

<body ng-app="blogPage">
    <div id="container" ng-controller="linkController">
        <div id="navbar">
            <ul>
                <li>
                    <h2><a id="title" href="/">Yash Patel</a></h2>
                </li>
                <hr>
                <p>A 14 year old Code Monkey.</p>
                <img src="/css/face.png" id="face">
                <div id="links">
                    <hr>
                    <li><a href="" ng-click="showHome()" ng-class="{active: isActive('home.html')}">Home</a></li>
                    <li><a href="" ng-click="showAbout()" ng-class="{active: isActive('about.html')}">About Me</a></li>
                    <li><a href="" ng-click="showProjects()" ng-class="{active: isActive('projects.html')}">My Projects</a></li>
                    <hr>
                </div>
            </ul>
        </div>
        <div id="content" ng-include="templateURL">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>